@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h4>Student: @ViewData["Student"]</h4>

<p>Professor:@ViewData["Professor"]</p>
<address>
    <strong>More Informations:&nbsp;<a href="http://www.educandoweb.com.br">Educando Web</a></strong>
</address>
